bh-container {
  display: grid;
  place-items: center;
  height: 100vh;
  grid-template-areas: 'bh-shadow';
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  overflow: hidden;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

bh-doppler {
  width: 40vw;
  height: 40vw;
  /*   background: var(--doppler); */
  grid-area: bh-shadow;
  border-radius: 63% 50% 55% 42% / 67% 47% 65% 47%;
  animation: doppler 9s ease-in-out 0.5s infinite backwards;
  z-index: 2;
  background: linear-gradient(-45deg, var(--accretion), #20184a, #1c163b);
  opacity: 0.3;
}

@keyframes doppler {
  0% {
    transform: scale(1) rotate(0deg);
    border-radius: 51% 50% 55% 52% / 51% 43% 68% 48%;
  }
  50% {
    transform: scale(3.4) rotate(-160deg);
    /*     border-radius: 63% 50% 55% 42% / 67% 47% 65% 47%; */
    border-radius: 83% 60% 55% 22% / 67% 97% 65% 47%;
  }
  0% {
    transform: scale(1) rotate(0deg);
    border-radius: 51% 50% 55% 52% / 51% 43% 68% 48%;
  }
}

bh-photon-ring {
  width: 15vw;
  height: 15vw;
  border-radius: 100%;
  grid-area: bh-shadow;
  background: var(--photon);
  animation: photon 8s ease-in-out 0.5s infinite alternate;
  z-index: 2;
  opacity: 0.6;
  box-shadow: inset 50px -10px 0px 4px black;
  border: 30px double #fff;
  /*   border-right-color: black; */
  box-sizing: content-box;
  padding: 40px;
  background-clip: padding-box;
  filter: blur(40px);
}

@keyframes photon {
  0% {
    transform: rotate(0deg);
    border-radius: 63% 50% 55% 42% / 67% 27% 65% 47%;
    opacity: 0.2;
    filter: blur(0px);
  }
  50% {
    transform: rotate(-160deg);
    border-radius: 63% 50% 55% 42% / 67% 27% 65% 47%;
    opacity: 0.4;
    filter: blur(50px);
  }
  0% {
    transform: rotate(0deg);
    border-radius: 51% 50% 55% 52% / 51% 43% 38% 48%;
    opacity: 0.1;
    filter: blur(100px);
  }
}

bh-accretion {
  width: 30vw;
  height: 30vw;
  background: var(--accretion);
  grid-area: bh-shadow;
  border-radius: 63% 50% 55% 42% / 67% 47% 65% 47%;
  /*   animation: accretion 8s ease-in-out 0.5s infinite alternate; */
  /*   animation: accretion 8s ease-in-out 0.5s infinite alternate; */
  animation: accretion 8s ease-in-out 0.5s infinite alternate;
  z-index: 3;
}

@keyframes accretion {
  0% {
    transform: scale(1) rotate(0deg);
    border-radius: 51% 50% 55% 52% / 51% 43% 68% 48%;
  }
  50% {
    transform: scale(10) rotate(100deg);
    border-radius: 63% 50% 55% 42% / 67% 47% 65% 47%;
    opacity: 0.7;
  }
  0% {
    transform: scale(0.9) rotate(0deg);
    border-radius: 51% 50% 55% 52% / 51% 43% 68% 48%;
  }
}

bh-backdrop {
  width: 100vw;
  height: 100vh;
  grid-area: bh-shadow;
  filter: blur(50px);
  z-index: 4;
}

bh-shadow {
  width: 20vw;
  height: 20vw;
  background: black;
  display: flex;
  border-radius: 100%;
  grid-area: bh-shadow;
  /* border-radius: 49% 50% 51% 42% / 67% 47% 65% 47%; */
  animation: shadow 2s ease-in-out 0.5s infinite alternate;
  z-index: 5;
  box-shadow: 2px 3px 10px 1px white,
    -10px -5px 160px 10px rgba(255, 255, 255, 0.3),
    -2px -3px 0px 1px rgba(255, 255, 255, 0.2),
    -4px 4px 30px 3px rgba(255, 255, 255, 0.5);
}

@keyframes shadow {
  0% {
    transform: rotate(10deg);
  }
  20% {
    transform: rotate(30deg);
  }
  40% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(50deg);
  }
  70% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

bh-audio {
  position: fixed;
  right: 40px;
  bottom: 40px;
  z-index: 10;
  color: white;
  cursor: pointer;
}

/* bh-container {
  animation-fill-mode: both;
  transition-timing-function: ease-out;
  animation-name: init;
  animation-duration: 4s;
  animation-iteration-count: 1;
} */

@keyframes init {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.blackhole-load {
  animation-fill-mode: both;
  transition-timing-function: ease-out;
  animation-name: init;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

/* * {  animation: stop !important; } */

@media (max-width: 1024px) {
  bh-shadow {
    height: 40vh;
    width: 40vh;
  }
  .blackhole-load {
    animation-duration: 0s;
  }
}
